# Analyze Electric Vehicle Stations

(Double click the block to edit)  
Full Name:  Dela Cruz, Mitch M.

Section: CPE-401

### Dataset URL
dataset_url = "https://raw.githubusercontent.com/cogxen/datasets/main/for-laboratory/exploring-data-with-python/sorting-and-filtering/stations.csv"

## Task 1
Import the CSV file stations.csv and assign it to the variable stations.

In [290]:
import pandas as pd

dataset_url = "https://raw.githubusercontent.com/cogxen/datasets/main/for-laboratory/exploring-data-with-python/sorting-and-filtering/stations.csv"

stations = pd.read_csv(dataset_url)

## Task 2

 When we start working with a new dataset, it's a good idea to get some summaries of the different columns, so that we know what kinds of values they contain. Display the different kinds of included in the dataset and their counts.

In [291]:
stations.head()

        fuel state       owner   access  number_of_stations
0  biodiesel    AL  government  private                   8
1  biodiesel    AL     private   public                   2
2  biodiesel    AR  government  private                   1
3  biodiesel    AR     private   public                  16
4  biodiesel    AZ  government  private                  74

## Task 3

Display the different kinds of owners included in the dataset and their counts.

In [292]:
owners_counts = stations['owner'].value_counts()
owners_counts

owner
private            413
government         288
utility company    108
joint               10
Name: count, dtype: int64

## Task 4

Display the different kinds of accesses included in the dataset and their counts.

In [293]:
access_counts = stations['access'].value_counts()
access_counts

access
public     415
private    404
Name: count, dtype: int64

## Task 5

Display the statistical summary of the `number_of_stations`.

In [294]:
stations['number_of_stations'].describe()

count     819.000000
mean       34.741148
std       118.665095
min         1.000000
25%         2.000000
50%         5.000000
75%        20.500000
max      2423.000000
Name: number_of_stations, dtype: float64

## Tasks 6

There's a pretty large maximum in the output to **Task 5**. Sort the `stations` by the `number_of_stations` from the largest to smallest.

Question: What do the top 5 rows have in common?

Answer:
The top 5 rows in the sorted stations DataFrame all have a few things in common: they are electric stations, they are privately owned, and they provide public access.

In [295]:
top_5_stations = stations.sort_values(by='number_of_stations', ascending=False)
top_5_stations.head()

         fuel state    owner  access  number_of_stations
301  electric    CA  private  public                2423
456  electric    NY  private  public                1173
500  electric    TX  private  public                 778
329  electric    FL  private  public                 659
510  electric    VA  private  public                 497

## Task 7

Sort the `stations` by `number_of_stations` from smallest to largest.

Question: What do the top 5 rows of the new sorted DataFrame have in common?

Answer: 
The top 5 rows in the newly sorted stations DataFrame all have just one station each. They differ in fuel type, state, ownership, and access.

In [296]:
bottom_5_stations = stations.sort_values(by='number_of_stations', ascending=True)
bottom_5_stations.head()

                       fuel state       owner   access  number_of_stations
194  compressed natural gas    NJ       joint   public                   1
203  compressed natural gas    NV  government  private                   1
432                electric    NH  government  private                   1
208  compressed natural gas    NY       joint   public                   1
730                 propane    CT     private  private                   1

## Task 8

Electric vehicles have become more and more crucial to plans around climate change. Now, let's take a closer looka t stations that anyone can access.

Create a boolean mask that is `True` for any row of `stations` where `access` is public.

In [297]:
public_access_mask = stations['access'] == 'public'
public_access_stations = stations[public_access_mask]
public_access_stations.head()

        fuel state    owner  access  number_of_stations
1  biodiesel    AL  private  public                   2
3  biodiesel    AR  private  public                  16
5  biodiesel    AZ  private  public                   2
7  biodiesel    CA  private  public                  23
9  biodiesel    CO  private  public                   3

## Task 9

Create a boolean mask that is `True` for any row of `stations` where `fuel` is `electric`.

In [298]:
electric_fuel_mask = stations['fuel'] == 'electric'
electric_fuel_stations = stations[electric_fuel_mask]
electric_fuel_stations.head()

         fuel state            owner   access  number_of_stations
280  electric    AK       government  private                   3
281  electric    AK       government   public                   6
282  electric    AK          private   public                  37
283  electric    AK  utility company   public                   3
284  electric    AL       government  private                  15

## Task 10

Use the boolean masks from **Task 8** and **Task 9** to filter `stations` down to only rows that are both public-access and electric-fuel.

Assign the result to variable `public_electric`.

In [299]:
public_electric_mask = public_access_mask & electric_fuel_mask
public_electric = stations[public_electric_mask]
public_electric.head()

         fuel state            owner  access  number_of_stations
281  electric    AK       government  public                   6
282  electric    AK          private  public                  37
283  electric    AK  utility company  public                   3
285  electric    AL       government  public                   1
287  electric    AL          private  public                 102

## Task 11

Sort `public_electric` by `number_of_stations` from smallest to largest. Display the top 5 rows corresponding to the smallest number of stations.

In [300]:
public_electric_sorted = public_electric.sort_values(by='number_of_stations')
public_electric_sorted.head()

         fuel state            owner  access  number_of_stations
454  electric    NY            joint  public                   1
473  electric    OR  utility company  public                   1
317  electric    DC       government  public                   1
458  electric    NY  utility company  public                   1
479  electric    RI       government  public                   1

## Task 12

While we can't be sure that this trend continues, it certainly as if publicly-owned (government/utility) stations are less common than privately-owned, which we saw in **Task 6**.

Let's compare privately- and publicly-owned stations. Create a boolean mask that is `True` for each row of `public_electric` where `owner` is private.

In [301]:
private_stations_mask = public_electric['owner'] == 'private'
private_stations = public_electric[private_stations_mask]

private_stations.head()

         fuel state    owner  access  number_of_stations
282  electric    AK  private  public                  37
287  electric    AL  private  public                 102
292  electric    AR  private  public                  70
297  electric    AZ  private  public                 294
301  electric    CA  private  public                2423

## Task 13

Use the boolean mask from the **Task 12** to filter `public_electric` down to only privately-owned rows.

Assign the result to variable `privately_owned`.

In [302]:
private_stations_mask = public_electric['owner'] == 'private'
privately_owned = public_electric[private_stations_mask]

privately_owned.head()

         fuel state    owner  access  number_of_stations
282  electric    AK  private  public                  37
287  electric    AL  private  public                 102
292  electric    AR  private  public                  70
297  electric    AZ  private  public                 294
301  electric    CA  private  public                2423

## Task 14

Let's check how many states have privately-owned, publicly-accessible electric charging stations. Use the statistical sumamry on the `state` column of the `privately_owned`.

In [303]:
state_summary = privately_owned['state'].describe()
num_states_with_privately_owned_stations = state_summary['unique']
num_states_with_privately_owned_stations

51

## Task 15

Compare this to the publicly-owned stations. Use the boolean mask you create in **Task 12** to fiter `public_electric` down to only rows with non-private ownership.

Assign the result to the variable `not_privately_owned`.

In [304]:
not_privately_owned_mask = public_electric['owner'] != 'private'
not_privately_owned = public_electric[not_privately_owned_mask]

not_privately_owned.head()

         fuel state            owner  access  number_of_stations
281  electric    AK       government  public                   6
283  electric    AK  utility company  public                   3
285  electric    AL       government  public                   1
290  electric    AR       government  public                   8
293  electric    AR  utility company  public                   1

## Task 16

Let's check now on how many states have publicly-owned, publicly-accessible electric charging stations. Use the statistical summary of the `state` on the column of `not_privately_owned`.

In [305]:
state_summary_not_privately_owned = not_privately_owned['state']
num_states_with_publicly_owned_stations = state_summary_not_privately_owned.nunique()
num_states_with_publicly_owned_stations

49

## Task 17

Let's now investigate publicly-owned stations a bit futher. Use statistical summary on the `number_of_stations` column of `not_privately_owned`.

In [306]:
not_privately_owned['number_of_stations'].describe()

count     83.000000
mean      17.927711
std       44.294409
min        1.000000
25%        1.000000
50%        6.000000
75%       17.000000
max      361.000000
Name: number_of_stations, dtype: float64

# Task 18

The maximum number of stations is quite a bit larger than the 75th percentile. Let's look at the rows between these values.

Create a boolean mask that is `True` in each row of `not_privately_owned` where `number_of_stations` is bigger than `17` or the 75th percentile.

In [307]:
percentile_75 = not_privately_owned['number_of_stations'].quantile(0.75)

mask = not_privately_owned['number_of_stations'] > max(17, percentile_75)

filtered_not_privately_owned = not_privately_owned[mask]
filtered_not_privately_owned

         fuel state            owner  access  number_of_stations
299  electric    CA       government  public                 361
303  electric    CA  utility company  public                  40
305  electric    CO       government  public                  59
311  electric    CT       government  public                 106
327  electric    FL       government  public                  32
331  electric    FL  utility company  public                  31
367  electric    KS  utility company  public                  21
378  electric    MA       government  public                  22
384  electric    MD       government  public                  30
390  electric    ME       government  public                  31
394  electric    MI       government  public                  22
398  electric    MI  utility company  public                  19
418  electric    NC       government  public                  50
423  electric    NC  utility company  public                  18
438  electric    NJ       government  public                  26
453  electric    NY       government  public                 145
460  electric    OH       government  public                  39
475  electric    PA       government  public                  46
484  electric    SC       government  public                  63
508  electric    VA       government  public                  19
521  electric    WA       government  public                  19

## Task 19

Filter `not_privately_owned` down to only rows with `number_of_stations` bigger than `17`.

Assign the result to the variable `above_17`.

In [308]:
above_17 = not_privately_owned[not_privately_owned['number_of_stations'] > 17]

## Task 20

Sort the `above_17` by `number_of_stations` and output the entirety of the result.

In [309]:
above_17_sorted = above_17.sort_values(by='number_of_stations')
above_17_sorted

         fuel state            owner  access  number_of_stations
423  electric    NC  utility company  public                  18
521  electric    WA       government  public                  19
398  electric    MI  utility company  public                  19
508  electric    VA       government  public                  19
367  electric    KS  utility company  public                  21
378  electric    MA       government  public                  22
394  electric    MI       government  public                  22
438  electric    NJ       government  public                  26
384  electric    MD       government  public                  30
390  electric    ME       government  public                  31
331  electric    FL  utility company  public                  31
327  electric    FL       government  public                  32
460  electric    OH       government  public                  39
303  electric    CA  utility company  public                  40
475  electric    PA       government  public                  46
418  electric    NC       government  public                  50
305  electric    CO       government  public                  59
484  electric    SC       government  public                  63
311  electric    CT       government  public                 106
453  electric    NY       government  public                 145
299  electric    CA       government  public                 361